@charset "utf-8";
/* CSS Document */
table 		{border:1px #000000 solid;}
td 			{text-align:center; width:80px; height:80px; vertical-align:middle;}
td.zwart	{background-color:#000000; color:#FFF;}
td.rood		{background-color:#FF0000;}
td.groen	{background-color:#00FF00;}
td.blauw	{background-color:#0000FF;}
td.geel		{background-color:#FFFF00;}
td.wit		{background-color:#FFFFFF;}