@charset "utf-8";
/* CSS Document */
h1	{
	color:#00F;
	font-weight:bold;
	text-align:center;
	font-size:32px; 
	font-family:Arial, sans-serif;}
	
h2	{
	color:#F00;
	text-decoration:underline;
	font-size:26px;}
	
h3	{
	color:#00FF00;
	font-size:20px;}
	
h4	{
	color:#333333;
	font-size:16px;}

